.dropdown-input {
  height: 35px;
  width: 350px;
  font-size: 20px;
  border-radius: 3px;
  padding-left: 15px;
}

.dropdown-container {
  height: 40px;
  width: 200px;
  background-color: aliceblue;
}

.dropdown-container-show {
  height: 40px;
}

.render-list {
  border: 2px solid #333;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
}


.filter-list {
  display: none;
}

.filter-list-clicked {
  position: absolute;
}

.filter-list-item {
  background-color: white;
  height: 40px;
  width: 300px;
  text-align: center;
  color: black;
}


.filter-list-item:nth-child(even) {
  background-color: #ededed;
}

.filter-list-item img {
  float: left;
  margin-right: 5px;
}

.item-name {
  font-size: 18px;
  text-align: left;
  display: block;
  vertical-align: bottom;
}

.item-type {
  margin-top: -2px;
  vertical-align: top;
  text-align: left;
  display: block;
  font-size: 15px;
}

.tag-both {
  background: #333 !important;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);
}

.tag-victim {
  background-color: red !important;
}

.tag-attacker {
  background-color:  #32cd32 !important;
}

.tag {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;

  margin-right: 5px;
  margin-top: 5px;
  float: left;
  font-size: 22px !important;
  text-align: center;
  height: 40px;
  border-radius: 0px !important;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);
}

.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}

.tag span {
  float: left;
}

.tag a:hover {
  opacity: 1.0 !important
}

.tag .remove {
  vertical-align: middle;
  top: 0;
}
.tag a {
  margin: 0 0 0 .3em;
}
.tag a .glyphicon-white {
  margin-bottom: 2px;
}

.filter-label {
  margin-top: 5px;
  float: left;
  display: inline-block;
  text-align: center;
}

.filter-button {
  display: inline-block;
  margin-left: 5px;
  margin-top: 2px;
  font-size: 16px;
  height: 30px;
  width: 30px;
  border-radius: 15px;
}

.filter-button span {
  margin-left: 7px;
  margin-top: 7px;
}

.filter-button:hover {
  opacity: 1;
  background: white;
}

.filter-button:hover span {
  color: #2A88AD;
}

.system-container {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;

  color: white;
  width: 350px;
  height: 40px;
  margin-top: 5px;
  background: #333 !important;
  /*border-radius: 10px;*/
  opacity: 1 !important;
  -moz-border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);
}


.system-label-container {
  float: left;
  text-align: center;
  margin-top: 5px;
  padding-left: 15px;
  width: 160px;
  font-size: 24px;
}

.system-inputs-container {
  display: inline-block;
  float: left;
  width: 150px;
  color: #333;
}

.system-filter-button {
  font-size: 16px;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin-top: 5px;
  display: inline-block;
}

.system-filter-button:hover {
  opacity: 1;
  background: white;
}

.system-filter-button:hover span {
  color: #2A88AD;
}

.system-filter-button span {
  margin-left: 7px;
  margin-top: 7px;
}

.system-container input {
  margin-left: 10px;
  margin-top: 5px;
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}
